body{
	margin:0px;
	background: #fff
}
::selection {
    color: #ccc; 
    background: #333;
}

#preload {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}
/*---------FONTS--------------*/
@font-face{
	font-family:regular;
	src:url('../fonts/regular.ttf');
	src:url('../fonts/regular.eot');
	src:url('../fonts/regular.svg');
	src:url('../fonts/regular.woff');
	src:url('../fonts/regular.otf');
}

@font-face{
	font-family:novab;
	src:url('../fonts/novab.ttf');
	src:url('../fonts/novab.eot');
	src:url('../fonts/novab.svg');
	src:url('../fonts/novab.woff');

}

@font-face{
	font-family:novar;
	src:url('../fonts/novar.ttf');
	src:url('../fonts/novar.eot');
	src:url('../fonts/novar.svg');
	src:url('../fonts/novar.woff');
	src:url('../fonts/novar.otf');
}
@font-face{
	font-family:noval;
	src:url('../fonts/noval.ttf');
	src:url('../fonts/noval.eot');
	src:url('../fonts/noval.svg');
	src:url('../fonts/noval.woff');
	src:url('../fonts/noval.otf');
}

@font-face{
	font-family:curve;
	src:url('../fonts/curve.ttf');
	src:url('../fonts/curve.eot');
	src:url('../fonts/curve.svg');
	src:url('../fonts/curve.woff');
	src:url('../fonts/curve.otf');
}
/*---------COLOR----------*/
.pink{color: #09c}
/*--------Classes---------*/

.bgblack{background: #000;}
.bgwhite{background: #fff;}
.cw{color:#fff;}
.fl{float: left;}
.fr{float: right;}
.alr{text-align: right}
.all{text-align: left;}
.active{color:#000;	border-bottom: 3px solid #000;}
.activef{color:#fff;}
.logo{
	height: 80px;
	width: 80px;
	background:url('../images/logo.svg') no-repeat center;#555;
	display: inline-block;
	margin:20px;
	background-size: 80px;
}

.logo:hover{
	background:url('../images/logoh.svg') no-repeat center;
	background-size: 80px;
}
/*--------Tags---------*/
#menu>ul>li>a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	transition:border .2s;
	font-family: regular;
}
a{text-decoration: none; color: #000;}
#menu>ul>li>a:hover{
	color:#000;
	border-bottom: 3px solid #000;
}


#infooter>ul>li>a{
	text-decoration: none;
	color: #ddd;
	text-transform: uppercase;
	transition:color .2s;

	font-family: noval;
}
#infooter>a{}
#infooter>ul>li>a:hover{
	text-decoration: none;
	color: #ddd;
	color:#fff;
	border-bottom:none;
}
/*----------header----------*/
#header{
	min-height:10px;
	width:100%;
	background:#fec60f;
}

#menu{
	float: right;
	height:auto;
	margin:10px 20px 0px auto;
}

ul>li{
	padding: 10px 10px;
	display: inline-block;
	text-align: center;
	color:#ccc;
	font-family: noval;
	font-size: 15px;
}


/*---------container--------*/
.cont{
	min-height: 200px;
	border-bottom: 2px solid #ddd;
	text-align: center;
}
.conth{
	min-height: 200px;
	text-align: center;
}


/*--------home------*/
#home{
	min-height: 100px;
	width: 100%;
	padding: 20px 0px 40px 0px;
	display:inline-block;
	margin: auto;
}

#homep{
	height:100px;
	width: 100%;
	display:inline-block;
}

#home>h1{
	margin-top: 40px;
	font-size: 65px;
	font-family:novab;
	color:#000;
	text-align: center;
}

#home>p{
	margin-top: -40px;
	font-size: 23px;
	font-family: curve;
	color:#000;
	text-align: center;
}

.button{
	width: 130px;
	margin:20px 5px;
	text-align: center;
	padding: 13px;
	display: inline-block;
	text-transform: uppercase;
	transition: background .3s;
	-webkit-transition: background .3s;
}
.buttonb{
	border: 2px solid #000;
	font-family: regular;
	color:#000;
}

.buttonb:hover{
	color: #fff;
	background:#000;
}

.buttonw{
	border: 2px solid #000;
	font-family: regular;
	font-size: 13px;
	color:#000;
}

.buttonw:hover{
	color: #eee;
	background:#222;
	font-family: regular;
	border: 2px solid #222;
}

.project{
	height:250px;
	width: 180px;
	background: url('../images/project.jpg') no-repeat center center;
	margin: 40px 30px;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #eee;
}

.work1{
	background: url('../images/wall.jpg') no-repeat center center;
	background-size:180px auto;
}

.work2{
	background: url('../images/post.jpg') no-repeat center center;
	background-size:auto 250px;
}

.work3{
	background: url('../images/misc.jpg') no-repeat center center;
	background-size:auto 250px;
}

.up{
	min-height: 300px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	color:#2c8880;
	background:#eee;
	position: relative;
	top:219px;
	transition: top .3s;
	-webkit-transition: top .3s;
}


.up:hover{
	top: 80px;
	overflow:visible;
	background:#eee;
}

.up>h3{
	font-size: 25px;
	font-family: regular;
	margin-top: 5px;
	border-bottom: 2px solid #2c8880;
}

.up>p{
	text-align: center;
	font-size: 15px;
	font-family: noval;
	padding:5px;
	margin-top: -20px
}

.up>p>a{
	font-size: 18px;
	font-family: regular;
}

.up>p>a:hover{
	color:#3d9991;
}
/*---------about---------*/

#about>h3{
	font-family: curve;
	font-size: 25px;
	padding-top: 60px;
	color: #555;
}

#brief{
	margin:40px auto 60px auto;
}

#brief>p{
	margin: auto;
	max-width: 550px;
	font-family: noval;
	font-size: 18px;
	color:#666;
	padding:10px;
	line-height: 25px;
	text-align: center;
}

.cont>h3{
	font-family: curve;
	font-size: 25px;
	padding-top: 20px;
	color: #555;
}

#pics{
	margin:50px 80px;
}
#pics>img{
	width: auto;
	height: 150px;
	background: #555;
	background-size: 150px auto;
	display: inline-block;
	margin:0px;
}
/*------------Work------*/

/*------------conatct------*/
#continfo{
	max-width: 900px;
	margin: auto;
	padding: 50px 0px 100px 0px;
}

#continfo>h3,p{
	text-align: left;
}
 
#continfo>h3{
	font-family: noval;
	color:#222;
	text-transform: uppercase;
	font-size: 20px;
	padding-left: 10px
	
}

#continfo>p{
	font-family: noval;
	color:#666;
	font-size: 18px;
	line-height: 30px;
	padding-left: 20px;
}

#continfo>p>a{
	color: #3d9991;
}

#continfo>p>a:hover{
	text-decoration: underline;
	color: #2c8880;
	cursor: pointer;
}

#me{
	height:250px;
	width: 200px;
	float: right;
	margin:-200px  50px;
	background: url('../images/me.jpg') no-repeat center center;
	background-size: 250px auto;
	display: inline-block;
}

#resume{
	float: left;
	margin-left: 25px;
}

#cform{
	width: 588px;
	height: 550px;
	margin: 0px 0px 100px 0px;
	display: inline-block;
}
/*-------------FORM-----------*/
input{
	padding: 10px;
	font-family: regular;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #2c8880;
}


input:focus{
	border-bottom: 2px solid #2c8880;
	outline:none;
}
textarea{
	padding: 10px;
	font-family: regular;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #2c8880;
}

textarea:focus{
	border-bottom: 2px solid #2c8880;
	outline:none;
}
/*
.last{
	margin-left: 183px;
}

.lableb{
	font-size: 12px;
	font-family: noval;
	color: #666;
	float: left;
	padding-top: 5px;
	padding-left: 30px;

}

.lable{
	font-family: noval;
	color: #666;
	float: left;
	padding-left: 25px;
	padding-top:18px;
	padding-bottom: 5px;
}*/

#firstname{
	margin: 80px 0px 0px 24px;
	height: 20px;
	width:244px;
	float: left
}

#lastname{
	width: 244px;
	height: 20px;
	margin: 80px 10px 0px 0px;
}

#email{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}

#subject{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}


#msg{
	width: 521px;
	height: 80px;
	margin: 40px 0px 0px 3px;
	resize:none;
}

#send{
	background: #fff;
	cursor:pointer;
}

#send:hover{
	background: #222;
	color: #eee;

}


/*------------BLOG--------*/
#blog{
	overflow: hidden;
	padding: 10px;
}


#blog>p{
	max-width: 800px;
	font-family: noval;
	font-size: 18px;
	color:#666;
	line-height: 25px;
	text-align: center;
	margin: 50px auto;
}

#blog>a{
	color: #2c8880;
}
p>img{
	max-width:99%;
}
.date{
	margin:50px auto;
	max-width: 800px;
	font-family: noval;
	font-weight: lighter;
	font-size: 20px;
	text-align: left;
	color: #555;
	border-bottom: 1px solid #ccc;
}


/*---------footer-------*/
#footer{
	border-top: 1px solid #333;
	background: #444;
}

#social{
	height:70px;
	width: 100%;
	text-align: center;
}

.social{
	height:50px;
	width: 50px;
	display: inline-block;
	margin: 10px auto;
}

#fb{background: url('../images/social/fb.png') no-repeat center; background-size: 60px;}
#tw{background: url('../images/social/tw.png') no-repeat center; background-size: 60px;}
#in{background: url('../images/social/in.png') no-repeat center; background-size: 60px;}
#insta{background: url('../images/social/insta.png') no-repeat center; background-size: 60px;}
#gp{background: url('../images/social/gp.png') no-repeat center; background-size: 60px;}
#pi{background: url('../images/social/pi.png') no-repeat center; background-size: 60px;}
#yt{background: url('../images/social/yt.png') no-repeat center; background-size: 60px;}
#fb:hover{background: url('../images/social/fbh.png') no-repeat center; background-size: 60px;}
#tw:hover{background: url('../images/social/twh.png') no-repeat center; background-size: 60px;}
#in:hover{background: url('../images/social/inh.png') no-repeat center; background-size: 60px;}
#insta:hover{background: url('../images/social/instah.png') no-repeat center; background-size: 60px;}
#gp:hover{background: url('../images/social/gph.png') no-repeat center; background-size: 60px;}
#pi:hover{background: url('../images/social/pih.png') no-repeat center; background-size: 60px;}
#yt:hover{background: url('../images/social/yth.png') no-repeat center; background-size: 60px;}

#infooter{
	width: 100%;
	background: #111111;
	text-align: center;
	display:inline-block;
}

#infooter>ul>li{
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	color: #000;
	padding:10px;
}
#infooter>ul{
	padding-bottom: 10px;
	margin-left: -40px;
	border-bottom: 1px solid #333;
}

#infooter>h2{
	font-size: 17px;
	font-family: noval;
	color:#fff;
	font-weight: lighter;
}

h2>a{color:#fff;}
h2>a:hover{color:#aaa;}

/*---------------WORK----------------*/

























/*--------------media Screen------------*/
/*------------------------600------------*/
@media screen and (max-width: 600px) {
	.logo{
		margin:auto;
		display: block;
		padding-top:20px;

	}
	
	#menu{
		width: 100%;
		margin: 0px;
		padding-top: 10px;
	}

	ul{
		padding: 0px;
		text-align: center;
		margin: auto;
	}

	ul>li{
		padding: 5px 3px;
		margin: 0px;
	}

	#home>h1{
		font-size: 45px;
		padding: 10px;
	}

	#home>p{
		padding: 20px;
		font-size: 20px;
	}

	#about>h3{
		font-size: 22px;
	}

	#brief>p{
		font-size: 15px;
	}
}

/*-------------400--------------*/

@media screen and (max-width: 400px){
	.social{
		height:30px;
		width: 30px;
		margin: 10px 5px;
	}
	#social{
		height: 50px;
	}
	
	#infooter>ul>li{
		margin:15px 0px;
		padding: 10px 3px;
	}

	#infooter>ul{
		margin:auto;
	}

	#infooter>h2{
		padding: 10px;
	}
}

/*-------------510------------*/
@media screen and (max-width: 510px) {
	#me{
		display: none;
	}
}
/*------------------610-------------*/

@media screen and (max-width: 600px){
	#continfo{
		width: 100%;
	}


	#cform{
		width: 100%;
	}
	/*-------------FORM-----------*/
	#firstname{
		width:90%;
		float: none;
		margin: 30px 0px 0px 0px;
	}

	#lastname{
		width: 90%;
		margin: 30px 0px 0px 0px;
	}

	#email{
		width: 90%;
		margin: 30px 0px 0px 0px;
	}

	#subject{
		width: 90%;
		margin: 30px 0px 0px 0px;
	}


	#msg{
		width: 90%;
		margin: 40px 0px 0px 0px;
		resize:none;
	}

}


