body{
	margin: 0px;
	background: #fff;
}
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Romanesco|Rubik+One|Indie+Flower);

::selection {
    color: #ccc; 
    background: #333;
}

#preload {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

/*----------Classes---------*/
.purple{color: #6a264e}
.orange{color: #ed9313}
.blue{color: #22788b}
.red{color:#b30027;}
.flr{float: right;}
.fll{float: left;}
.alr{text-align: right;}
.all{text-align: left;}
.alc{text-align: center;}
.trans{	transition: background .3s; -webkit-transition: background .3s;}
.dib{display: inline-block;}
.mra{margin: auto;}
.active{background: #33899c}
.activef{background: #005669}

/*---------fonts & colors -------------*/

/*
font-family: 'Droid Sans Mono', ;
font-family: 'Romanesco', cursive;
font-family: 'Rubik One', sans-serif;
font-family: 'Indie Flower', cursive;
*/

/*--------intro------------*/


#intro{
	height:100%;
	width: 100%;
}


#intro>h1{
	font-family: Rubik One;
	font-size: 80px;
	text-align: center;
	padding-top: 5%;
	color: #22788b;
}

#intro>p{
	font-family: Indie Flower;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-top: -50px;
	color: #333;
}
b{
	color:#000
}
a{text-decoration: none;}

.button{
	font-family: rubik one;
	height:20px;
	width: 150px;
	margin:10px auto;
	text-align: center;
	padding:12px 10px;
	color: #000;
	border: 2px solid #000;
}

.button:hover{
	background: #22788b;
	color:#fff;
	border: 2px solid #005669;
}


#down{
	border-top: 1px solid #ddd;
	height: 40px;
	width: 100%;
	background:url('../images/down2b.png') no-repeat center #fff;
	background-size: 30px;
	margin-top: -40px;
	transition: background .3s;
	-webkit-transition: background .3s;
}


#down:hover{
	background:url('../images/down.png') no-repeat center #22788b;
	background-size: 30px;
}


/*---------Header----------*/
#header{
	width: 100%;
	height: auto;
	background: #22788b;
}

#logo{
	height: 60px;
	width: 60px;
	padding-top:10px;
	margin:0px auto 10px auto;
	background: url('../images/logo.svg') no-repeat center;
	background-size: 60px;
}

#logo:hover{
	background: url('../images/logoh.svg') no-repeat center;
	background-size: 60px;
}

#menu{
	width: 100%;
	list-style: none;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin-left: -40px;
	background: #22788b
}

#menu>a>li{
	padding: 20px 20px;
	display: inline-block;
	margin-top: -16px
}

#menu>a{
	font-family: Droid Sans Mono;
	color: #fff;
	text-decoration: none;
}

#menu>a>li:hover{
	background: #33899c
}
.fixed { position: fixed; top: -20px; }
/*-------------------cont-----------------*/
#cont{
	width: 100%;
	display: inline-block;
}

.div{
	min-height: 300px;
	width: 100%;
	border-bottom: 2px solid #ccc;
}

.div>h2{
	font-family: Indie Flower;
	font-size: 30px;
	color:#111;
	text-align: center;
	font-weight: bolder;
}

.div>p{
	font-family: droid sans mono;
	font-size: 18px;
	color:#333;
	text-align: center;
	max-width: 700px;
	margin: auto;
	padding: 10px;
}
.div>p>img{
	height: 150px;
	width: 150px;
	background: #333;
	margin: -1px -4px;
	border: 2px solid #ddd
}

.photo-grid {
	min-width: 100px;
	margin:0px auto 0px -125px;
	text-align: center;
}
 
.photo-grid li {
	height: 150px;
	display: inline-block;
	width: 150px;
	margin: 5px;
}
 
.photo-grid img {
	display: block;
	height: auto;
}
 
.photo-grid figure {
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 150px;
}
 
.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	height: 100%;
}
 
.photo-grid figcaption p {
	font-family: droid sana mono;
	font-size: 20px;
	top: -40px;
	width: 150px;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	-webkit-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}
 
.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption p {
	font-size: 20px;
	font-family: droid sans mono;
	width: 150px;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
 
.photo-grid li:hover figcaption p {
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}

/*--------------Work/Blog------------*/
#blog{
	overflow: hidden;
	padding: 10px;
}


#blog>p{
	max-width: 800px;
	font-family: Droid Sans Mono;
	font-size: 18px;
	color:#666;
	line-height: 25px;
	text-align: center;
	margin: 50px auto;
}
h4{
	padding-left: 10px
}
#blog>a{
	color: #2c8880;
}
p>img{
	max-width:99%;
}

#blog>p>a{
	color: #33899c
}
.date{
	margin:50px auto;
	max-width: 800px;
	font-family: Rubik One;
	font-weight: lighter;
	font-size: 20px;
	text-align: left;
	color: #2c8880;
	border-bottom: 1px solid #1e6662;
}


.cont>h3{
	font-family: Droid Sans Mono;
	font-size: 25px;
	padding-top: 20px;
	color: #1b7770;
	text-align: center;
	text-decoration: underline
}

/*--------------Contact------------*/
#continfo{
	max-width: 900px;
	margin: auto;
	padding: 50px 0px 100px 0px;
	border-bottom: 1px solid #aaa;
}

#continfo>h3,p{
	text-align: left;
}
 
#continfo>h3{
	font-family: Droid Sans Mono;
	color:#222;
	text-transform: uppercase;
	font-size: 20px;
	padding-left: 10px
	
}
#continfo>p{
	font-family: Droid Sans Mono;
	color:#666;
	font-size: 18px;
	line-height: 30px;
	padding-left: 20px;
}

#continfo>p>a{
	color: #3d9991;
}

#continfo>p>a:hover{
	text-decoration: underline;
	color: #2c8880;
	cursor: pointer;
}

#me{
	height:250px;
	width: 200px;
	float: right;
	margin:-200px  50px;
	background: url('../images/me.jpg') no-repeat center center;
	background-size: 250px auto;
	display: inline-block;
}

#resume{
	float: left;
	margin-left: 35px;
}

#cform{
	width: 588px;
	height: 550px;
	margin: 0px 0px 100px 0px;
	display: inline-block;
}

#form{
	max-width: 527px;
	height: 550px;
	margin: auto;
}

/*-------------FORM-----------*/
input{
	padding: 20px;
	font-family: Rubik One;
	font-weight: lighter;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #2c8880;
}


input:focus{
	border-bottom: 2px solid #2c8880;
	outline:none;
}
textarea{
	padding: 10px;
	font-family: Rubik One;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #2c8880;
}

textarea:focus{
	border-bottom: 2px solid #2c8880;
	outline:none;
}


#firstname{
	margin: 80px 0px 0px 3px;
	height: 20px;
	width:244px;
	float: left
}

#lastname{
	width: 244px;
	height: 20px;
	margin: 80px 10px 0px 33px;
}

#email{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}

#subject{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}


#msg{
	width: 521px;
	height: 80px;
	margin: 40px 0px 0px 3px;
	resize:none;
}

#send{
	margin:50px 20px;
	height: 50px;
	background: #fff;
	cursor:pointer;
}

#send:hover{
	background: #222;
	color: #eee;

}
/*---------------------Footer--------------*/
#footer{
	width: 100%;
	text-align: center;
	display:inline-block;
	min-height:200px;
	background: #22788b;
}

#footer>ul>li{
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	color: #000;
	display: inline-block;
}

#footer>ul{
	padding-bottom: 10px;
	margin-left: -40px;
}

#footer>h2{
	font-size: 17px;
	font-family: Droid Sans Mono;
	color:#fff;
	font-weight: lighter;
}


#footer>ul>li>a{
	padding: 16px 10px;
	color: #aaa;
	font-family: Droid Sans Mono;
}

#footer>ul>li>a:hover{
	background: #005669;
	color: #fff;
}

#infooter{
	width: 100%;
	min-height: 60px;
	background: #005669;
} 

#sc{
	width: auto;
	text-align: center;
}

.social{
	height:60px;
	width: 60px;
	display: inline-block;
	margin: 10px auto;
	background: #a5d
}

#fb{background: url('../images/social/fb.png') no-repeat center ; background-size: 60px;}
#tw{background: url('../images/social/tw.png') no-repeat center ; background-size: 60px;}
#in{background: url('../images/social/in.png') no-repeat center ; background-size: 60px;}
#insta{background: url('../images/social/insta.png') no-repeat center ; background-size: 60px;}
#gp{background: url('../images/social/gp.png') no-repeat center ; background-size: 60px;}
#pi{background: url('../images/social/pi.png') no-repeat center ; background-size: 60px;}
#yt{background: url('../images/social/yt.png') no-repeat center ; background-size: 60px;}
#fb:hover{background: url('../images/social/fbh.png') no-repeat center ; background-size: 60px;}
#tw:hover{background: url('../images/social/twh.png') no-repeat center ; background-size: 60px;}
#in:hover{background: url('../images/social/inh.png') no-repeat center ; background-size: 60px;}
#insta:hover{background: url('../images/social/instah.png') no-repeat center ; background-size: 60px;}
#gp:hover{background: url('../images/social/gph.png') no-repeat center ; background-size: 60px;}
#pi:hover{background: url('../images/social/pih.png') no-repeat center ; background-size: 60px;}
#yt:hover{background: url('../images/social/yth.png') no-repeat center ; background-size: 60px;}


/*----------Media Queries-------------*/

@media screen and (max-width: 400px){
	#intro>h1{
		font-size: 70px;
	}

	#intro>p{
		font-size: 20px;
	}
	.social{
		height:30px;
		width: 30px;
		margin: 20px 8px;
	}
}

@media screen and (max-width: 464px){
	#header{
		height: 220px;
	}

/*------------------610-------------*/

@media screen and (max-width: 600px){
	#continfo{
		width: 100%;
	}


	#cform{
		width: 100%;
	}
	/*-------------FORM-----------*/
	#firstname{
		width:95%;
		float: none;
		margin: 30px 0px 0px 10px;
	}

	#lastname{
		width: 95%;
		margin: 30px 0px 0px 10px;
		float: none
	}

	#email{
		width: 95%;
		margin: 30px 0px 0px 10px;
	}

	#subject{
		width: 95%;
		margin: 30px 0px 0px 10px;
	}


	#msg{
		width: 95%;
		margin: 40px 0px 0px 10px;
		resize:none;
	}

}
